[Unit]
Description=MQuery - specialized corpus queries based on manatee-open
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mquery server /usr/local/etc/mquery.json
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
